/* Author: webCS */ 

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { background: transparent; border: 0; margin: 0; padding: 0; vertical-align: baseline; }
body { line-height: 1; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
ol, ul { list-style: none; }
blockquote { quotes: none;}
blockquote:before, blockquote:after { content: ''; content: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
a img { border: none; }
a { outline: none; }




body { background: #fff; line-height: 16px; font-family: verdana, arial, sans-serif; font-size: 12px; color: #2c2c2c; }

.wrapper,
#footer { width: 980px; margin: 0 auto; /*overflow: hidden;*/ }

#header { padding: 0 10px; overflow: hidden; }

#logo { width: 78px; height: 86px; margin: 32px 14px 0 0; padding-right: 14px; float: left; border-right: solid 1px #949494; }
#logo a { width: 78px; height: 86px; display: block; background: transparent url(../images/logo.png) 0 0 no-repeat; text-indent: -9999px; }

#head-title { margin-top: 95px; float: left; overflow: hidden; font-size: 22px; line-height: 30px; font-family: helvetica; color: #404040; }
#ie7 #head-title { font-family: arial; }
#head-title .orange { color: #d9531e; }

#head-links { margin-top: 105px; float: right; position: relative; }
#head-links a { font-family: arial; text-transform: uppercase; font-size: 9px; color: #8f8f8f; }
#head-links a:hover { text-decoration: none; color: #666; }
#send-to-friend-list { width: 132px; height: 70px; padding: 16px 9px 8px 10px; display: none; position: absolute; right: -60px; top: 20px; background: transparent url(../images/send-to-friend.png) 0 0 no-repeat; }
#send-to-friend-list li { display: block; }
#send-to-friend-list li.hover a { background-color: #f9f9f9; }
#send-to-friend-list li a { height: 19px; margin: 4px 0; padding-left: 23px; display: block; background: transparent url(../images/social-icons.png) 0 0 no-repeat; line-height: 20px; }
#send-to-friend-list li a:hover { color: #404040; }
#send-to-friend-list #share-facebook a { background-position: 0 1px; }
#send-to-friend-list #share-twitter a { background-position: 0 -23px; }
#send-to-friend-list #share-yahoo a { background-position: 0 -45px; }

#head-search { width: 132px; height: 22px; margin: 94px 0 0 20px; padding: 3px 9px 0 9px; display: block; float: right; position: relative; background: transparent url(../images/search-box.png) 0 0 no-repeat; }
#head-search .text-input { width: 115px; background: #f1f1f1; border: none; font-size: 11px; color: #8d8d8d; }
#head-search .submit { width: 15px; height: 16px; display: block; position: absolute; right: 7px; top: 4px; background: transparent url(../images/search-box-submit.png) 0 0 no-repeat; border: none; cursor: pointer; }

#nav-menu { width: 958px; height: 55px; margin: 21px 0 12px -10px; padding: 11px 12px 0 12px; display: block; background: transparent url(../images/nav-menu.png) 0 0 no-repeat; }
#nav-menu li { padding: 11px 20px 12px 17px; display: block; float: left; background: transparent url(../images/nav-menu-divider.png) right top no-repeat; }
#nav-menu a { text-transform: uppercase; color: #707070; text-shadow: 0 0 1px #fff; }
#nav-menu li.current a,
#nav-menu a:hover { text-decoration: none; color: #d9531e; }



#subhead { width: 100%; height: 131px; margin-bottom: 75px; background: transparent url(../images/subhead-bg.png) center top repeat-x; }
/*#ie7 #subhead { margin-bottom: 72px;}*/
.home #subhead { height: 332px; margin-bottom: 0; background: transparent url(../images/subhead-home-bg.png) center top repeat-x; }
#subhead-content { width: 100%; height: 131px; background: transparent url(../images/subhead-center-bg.jpg) center top no-repeat; }
.home #subhead-content { height: 332px; background: transparent url(../images/subhead-center-home-bg.jpg) center top no-repeat; }

#back-to-search { width: 211px; height: 45px; display: block; position: relative; top: 45px; float: left; background: transparent url(../images/back-to-search.png) 0 0 no-repeat; text-indent: -9999px; }
#back-to-results { width: 215px; height: 45px; display: block; position: relative; top: 45px; float: left; background: transparent url(../images/back-to-results.png) 0 0 no-repeat; text-indent: -9999px; }
#back-to-search:hover,
#back-to-results:hover { background-position: 0 -55px; }

#breadcrumb { position: absolute; top: 98px; right: 0; font-size: 10px; text-transform: uppercase; color: #fff; }
#breadcrumb a { color: #fff; }



/* Homepage */
#body .wrapper { position: relative; }
#content { min-height: 261px; padding: 0 0 20px 0; overflow: hidden; font-size: 11px; }
.home #content { padding: 30px 20px 20px 20px; background: #f3f3f3 url(../images/body-bg.png) center bottom repeat-x; }
#ie7.home #content { padding-top: 26px; padding-bottom: 23px; }
#content-corner-bl { width: 8px; height: 8px; display: block; position: absolute; bottom: 0; left: 0; background: transparent url(../images/content-corners.png) 0 0 no-repeat; }
#content-corner-br { width: 8px; height: 8px; display: block; position: absolute; bottom: 0; right: 0; background: transparent url(../images/content-corners.png) 0 -18px no-repeat; }

#home-boxes { overflow: hidden; }
#home-boxes li { width: 300px; margin-right: 20px; display: block; float: left; }
#home-boxes h3 { margin-bottom: 15px; font-size: 20px; line-height: 24px; color: #292929; }
#ie7 #home-boxes h3 { margin-bottom: 13px; }
#home-boxes .box-1 img { margin-top: 22px; }
#home-boxes .box-2 img { max-width: 296px; margin-bottom: 15px; padding: 1px; display: block background: #fff; border: solid 1px #d5d5d5; }
#home-boxes .box-2 .title { font-size: 13px; font-weight: bold; color: #d9531e; }
#home-boxes .box-2 p { margin-top: 3px; }
#home-boxes .box-2 .read-more { text-decoration: underline; }
#home-boxes .box-2 .read-more:hover { color: #000; }
#home-boxes .box-3 { margin-right: 0; }
#home-boxes .box-3 .report { margin-top: 25px; }
#home-boxes .box-3 .report img { width: 70px; height: 100px; margin-right: 15px; float: left; border: solid 3px #fff; box-shadow: 0 0 10px #999; -moz-box-shadow: 0 0 10px #999; -webkit-box-shadow: 0 0 10px #999; }
#home-boxes .box-3 .report span { width: 200px; margin-top: 40px; display: block; float: left; }
#home-boxes .box-3 .report a { font-size: 13px; line-height: 18px; color: #1c3f94; }
#home-boxes .box-3 .report a:hover { text-decoration: underline; }

#overlay { width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 550; display: none; background: transparent url(../images/bg-white-80.png) 0 0 repeat; }

#big-map,
#related-content-box { width: 898px; min-height: 436px; margin-top: -254px; margin-left: -479px; padding: 44px 32px; position: fixed; top: 50%; left: 50%; z-index: 999; display: none; overflow: hidden; background: #e8e8e8; border: solid 1px #fff; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; box-shadow: 4px 4px 8px #ccc; -moz-box-shadow: 4px 4px 8px #ccc; -webkit-box-shadow: 4px 4px 8px #ccc; }
#related-content-box { width: 500px; height: 480px; margin-left: -250px; padding: 10px 30px; overflow-y: auto; background: #eee; }
#related-content-box li { margin-top: 20px !important; margin-bottom: 20px !important; padding-top: 3px; }
#related-content-box a { line-height: 13px !important; }
#big-map ul { width: 205px; margin-top: 39px; display: block; float: left; }
/*#ie7 #big-map ul { margin-top: 43px; }*/
#big-map li { display: block; }
#big-map li.selected { background: #fff !important; }
#big-map li.selected a { color: #d9531e; }
#big-map li a { padding: 8px 10px; display: block; position: relative; z-index: 999; font-size: 11px; font-weight: bold; }
#big-map li.hover { background: transparent url(../images/bg-white-50.png) 0 0 repeat; }
#big-map li.hover a { text-decoration: none; }
#ie7 #big-map li.hover { background: #fff; }
#map-area { width: 693px; float: left; }
#map-area .title { font-size: 17px; color: #4c4c4c; }
#map-area .title span { color: #de6a3c; }
#map-area-content { margin-top: 23px; padding: 20px; background: #fff; text-align: center; }

#subhead-text { width: 620px; padding: 64px 0 0 10px; overflow: hidden; }
#ie7 #subhead-text { padding-top: 59px; }
#subhead-text h2 { margin-bottom: 18px; font-size: 36px; line-height: 40px; color: #fff; text-shadow: 1px 1px 0 #bd5328; }
#ie7 #subhead-text h2 { margin-bottom: 13px; }
#subhead-text p { height: 74px; overflow: hidden; font-size: 14px; line-height: 18px; color: #fff; text-shadow: 1px 1px 0 #bd5328; }
#subhead-text .read-more { width: 164px; height: 45px; margin: 22px 0 0 -6px; display: block; background: transparent url(../images/read-more.png) 0 0 no-repeat; text-indent: -9999px; }
#ie7 #subhead-text .read-more { margin-top: 23px; }
#subhead-text .read-more:hover { background-position: 0 -55px; }

.home #subhead-content .wrapper { position: relative; }

#subhead-content #search-directory { width: 240px; height: 250px; position: absolute; right: 38px; top: 32px; }
#ie7 #subhead-content #search-directory { top: 28px; }
#search-directory .title { margin-bottom: 15px; font-size: 19px; line-height: 24px; color: #d9531e; }
#ie7 #search-directory .title { margin-bottom: 14px; }
#category-list .category { width: 204px; height: 23px; margin-bottom: 9px; padding: 8px 9px 0 26px; display: block; background: transparent url(../images/search-category-btn.png) 0 0 no-repeat; font-family: arial; color: #4b4b4b; cursor: pointer; clear: both; }
#ie7 #category-list .category { width: 207px; padding-right: 6px; }

/*.clicked { margin-bottom: 6px !important; }*/

/*#ie7 #category-list .category.clicked { position: relative; top: -3px; }*/
#category-list div span { float: right; font-style: italic; font-family: georgia; font-size: 11px; color: #a6a6a6; }
#directory-search-button { width: 95px; height: 35px; display: block; position: absolute; right: 34px; bottom: 16px; z-index: 50; float: right; background: transparent url(../images/directory-submit-btn.png) 0 0 no-repeat; text-indent: -9999px; cursor: pointer; }
#directory-search-button:hover { background-position: 0 -45px; }
#search-directory .category-sublist { width: 654px; height: 282px; padding: 24px 20px 0 20px; display: none; position: absolute; z-index: 10; cursor: default; }
#ie7 #search-directory .category-sublist,
#ie8 #search-directory .category-sublist { height: 284px; padding-top: 22px; }
#directory-search { width: 144px; height: 45px; margin: 18px auto 0 auto; display: block; background: transparent url(../images/direcotry-search-button.png) 0 0 no-repeat; text-indent: -9999px; }
#directory-search:hover { background-position: 0 -55px; }
#cat-disease .category-sublist { background: transparent url(../images/category-sublist-bg-disease.png) 0 0 no-repeat; }
#cat-partner .category-sublist { background: transparent url(../images/category-sublist-bg-partner.png) 0 0 no-repeat; }
#cat-program .category-sublist { background: transparent url(../images/category-sublist-bg-program.png) 0 0 no-repeat; }
#cat-country .category-sublist { background: transparent url(../images/category-sublist-bg-country.png) 0 0 no-repeat; }
#category-list .category-sublist { top: -15px; right: 237px; }
#category-list .category-sublist .title { margin-bottom: 10px; font-size: 17px; line-height: 26px; color: #010101; }
#ie7 #category-list .category-sublist .title,
#ie8 #category-list .category-sublist .title { margin-bottom: 10px; }


/* Category Disease */
#category-list .section-list { width: 225px; height: 215px; margin-right: 20px; padding: 8px 6px 0 0; display: block; float: left; overflow: hidden; border-right: solid 1px #d9531e; font-size: 11px; }
#category-list .section-list li { line-height: 18px; color: #444; }
#category-list .section-list li.selected { padding-left: 9px; position: relative; background: transparent url(../images/category-list-selected-arrow.png) left 5px no-repeat; font-weight: bold; }
#category-list .section-list li.selected a,
#category-list .section-list li.selected a:hover { color: #d9531e; }
#category-list .section-list li.selected #arrow { width: 13px; height: 26px; display: block; position: absolute; top: -4px; right: -20px; z-index: 50; background: transparent url(../images/category-list-selected-big-arrow.png) 0 0 no-repeat; text-indent: -9999px; }
#category-list .section-list li a:hover { text-decoration: none; color: #d9531e; }
#category-list .section-list li span { float: none; font-style: normal; font-family: arial; font-size: 11px; color: #444; }
#category-list .section-options { width: 400px; float: left; overflow: hidden; font-size: 11px; }
#category-list .section-options ul { width: 192px; height: 215px; margin-right: 14px; padding-top: 7px; display: block; float: left; overflow: hidden; }
#category-list .section-options ul.last { margin-right: 0; }
#category-list .section-options li { margin: 2px 0; display: block; }
#ie7 #category-list .section-options li { margin: -1px 0 0 0; }
#category-list .section-options li.hover { color: #000; }
#category-list .section-options li input { margin: 0 5px 0 0; }
#category-list .section-options label { position: relative; top: -2px; cursor: pointer; }
#category-list .select-all { padding-right: 1px; position: absolute; right: 35px; top: 22px; font-size: 11px; text-transform: uppercase; text-decoration: underline; color: #d9531e; }
#category-list .select-all:hover { padding-right: 0; font-weight: bold; }

/* Category Partner & Country */
#cat-partner ul { width: 312px; margin: 50px 20px 0 0; display: block; float: left; }
#cat-country ul { width: 312px; margin: 35px 20px 0 0; display: block; float: left; }
#cat-partner ul.last,
#cat-country ul.last { margin-right: 0; }
#cat-partner li,
#cat-country li { height: 29px; margin-bottom: 11px; display: block; position: relative; /*overflow: hidden;*/ background: transparent url(../images/category-partner-select-box.png) 0 0 no-repeat; }
#cat-partner li .drop-select,
#cat-country li .drop-select { width: 209px; height: 22px; margin: 0 3px 0 0; padding: 7px 7px 0 7px; float: left; background: transparent url(../images/dropdown-select-arrow.png) 200px 10px no-repeat; font-weight: bold; color: #444; cursor: pointer; }
#cat-partner li .drop-select span,
#cat-country li .drop-select span { float: none; font-style: normal; font-family: arial; font-size: 12px; color: #444; }
#cat-partner li .select-list,
#cat-country li .select-list { width: 213px; height: 116px; padding: 5px 5px 2px 5px; overflow: auto; display: none; position: absolute; top: 28px; z-index: 100; background: #fff; border: solid 1px #ccc; }
#cat-partner li .select-list p,
#cat-country li .select-list p { margin: 3px 0; }
#cat-partner li .select-list label,
#cat-country li .select-list label { position: relative; top: -2px; cursor: pointer; }
#cat-partner li .input-select-all,
#cat-country li .input-select-all { /*margin-left: 3px;*/ margin-right: 3px; padding-right: 2px; float: right; line-height: 28px; font-size: 11px; text-transform: uppercase; text-decoration: underline; color: #d9531e; }
#cat-partner li .input-select-all:hover,
#cat-country li .input-select-all:hover { padding-right: 0; font-weight: bold; }

/* Category Program */
#cat-program .box { width: 305px; height: 190px; margin: 10px 20px 0 0; display: block; float: left; overflow: hidden; }
#ie8 #cat-program .box,
#ie9 #cat-program .box { padding-top: 4px; }
#cat-program .last { margin-right: 0; }
#cat-program ul { margin-bottom: 25px; padding-bottom: 25px; border-bottom: solid 1px #ccc; }
#cat-program .last ul { margin-bottom: 15px; padding-bottom: 15px; }
#cat-program ul.bottom { margin-bottom: 0; padding-bottom: 0; border-bottom: none; }
#cat-program li { margin: 2px 0; padding-left: 18px; overflow: hidden; }
#ie7 #cat-program li { margin: -4px 0 0 -4px; }
#ie8 #cat-program li,
#ie9 #cat-program li { margin-top: -4px; }
#cat-program li.parent { padding-left: 0; font-weight: bold; }
#ie7 #cat-program li.parent,
#ie8 #cat-program li.parent,
#ie9 #cat-program li.parent { margin-bottom: 3px; }
#cat-program li input { margin: 0 5px 0 0; float: left; }
#ie7 #cat-program li input,
#ie8 #cat-program li input,
#ie9 #cat-program li input { margin: 0 2px 0 0; }
#cat-program li.parent input { float: none; }
#cat-program li label { width: 260px; float: left; position: relative; top: 0; cursor: pointer; }
#ie7 #cat-program li label,
#ie8 #cat-program li label,
#ie9 #cat-program li label { top: 2px; }
#cat-program li.parent label { width: auto; float: none; top: -2px; }
#ie7 #cat-program li.parent label,
#ie8 #cat-program li.parent label,
#ie9 #cat-program li.parent label { top: -1px; }
#cat-program li span { float: none; font-style: normal; font-family: arial; font-size: 11px; color: #444; }
#cat-program li .input-select-all { margin-left: 3px; padding-right: 2px; position: relative; top: -2px; font-size: 11px; text-transform: uppercase; text-decoration: underline; font-weight: normal; color: #d9531e; }
#ie7 #cat-program li .input-select-all,
#ie8 #cat-program li .input-select-all,
#ie9 #cat-program li .input-select-all { top: -1px; }
#cat-program li .input-select-all:hover { padding-right: 0; font-weight: bold; }



/* Search results / article list */
.page-title { margin-bottom: 22px; font-size: 32px; line-height: 40px; color: #000; }
#searched-terms { margin-bottom: 20px; overflow: hidden; }
#searched-terms .title { margin-bottom: 12px; font-weight: bold; color: #d9531e; }
#searched-terms .term { height: 19px; margin-right: 4px; padding-left: 5px; float: left; display: block; position: relative; background: transparent url(../images/searched-term-bg.png) 0 0 no-repeat; }
#searched-terms .term span { height: 19px; padding: 0 25px 0 2px; float: left; display: block; background: transparent url(../images/searched-term-bg.png) right -30px no-repeat; color: #6c6c6c; }
#searched-terms .remove-term { width: 15px; height: 15px; display: block; position: absolute; top: 2px; right: 2px; background: transparent url(../images/searched-term-remove.png) 0 0 no-repeat; text-indent: -9999px; }
#searched-terms .remove-term:hover { background-position: 0 -25px; }
#results { overflow: hidden; }
#ie7 #results { margin-bottom: 30px; }
#results li { width: 453px; height: 95px; margin: 0 34px 30px 0; padding: 11px 10px; display: block; float: left; overflow: hidden; background: transparent url(../images/result-box-bg.png) 0 0 no-repeat; }
#results li.even { margin-right: 0; }
#results li .thumb { width: 93px; height: 93px; margin-right: 11px; display: block; float: left; }
#results li .thumb img { width: 87px; height: 87px; padding: 2px; background: #fff; border: solid 1px #d3e5f1; }
#results li .result-details { width: 348px; height: 93px; float: left; overflow: hidden; }
#results li h2 { height: 37px; margin: 7px 0 3px 0; overflow: hidden; line-height: 18px; font-size: 14px; font-weight: bold; color: #d9531e; }
#results li h2 a { color: #d9531e; }
#results li p { height: 17px; margin-bottom: 8px; overflow: hidden; color: #4a4a4a; }
#results li .read-more { padding: 2px 0 2px 18px; background: transparent url(../images/article-read-more.png) 0 1px no-repeat; text-transform: uppercase; font-size: 10px; color: #d9531e; }



/* Details */
#article-details { width: 619px; margin-right: 30px; padding-right: 30px; float: left; border-right: solid 1px #cacaca; }
#article-sidebar { width: 300px; float: left; }

#article-details .objectives { margin: 15px 0 25px 0; padding-left: 30px; border-left: solid 1px #cacaca; }
#article-details .objectives .title { margin-bottom: 10px; font-style: normal; line-height: 20px; font-size: 14px; font-weight: bold; color: #d9531e }
#article-details .objectives p { font-style: italic; }
#article-details p,
#page-content p { margin-bottom: 18px; line-height: 20px; font-size: 12px; color: #4a4a4a; }

.article-photo { width: 233px; height: auto; margin: 4px 15px 15px 0; display: inline; float: left; overflow: hidden; }
.article-photo .image-box { display: block; border: solid 1px #d9531e; }
.article-photo .image-box img { width: 227px; padding: 2px; background: #fff; }
.article-photo .image-box span { padding: 18px 12px; display: block; background: #d9531e; font-size: 10px; line-height: 12px; color: #fff; }
.article-photo .photo-bottom-text { padding: 6px 12px; display: block; background: #fdbe57; text-transform: uppercase; font-size: 9px; line-height: 12px; color: #585b5c; }
#article-quote { width: 912px; min-height: 70px; margin: 30px 0 35px 0; padding: 28px 33px 23px 33px; position: relative; background: #e7e7e7 url(../images/article-quote-bg.png) center top repeat-x; border: solid 1px #e0e0e0; font-size: 14px; font-style: italic; line-height: 18px; color: #4a4a4a; }
#article-quote-tl { width: 6px; height: 6px; display: block; position: absolute; top: -1px; left: -1px; background: transparent url(../images/article-quote-tl.png) 0 0 no-repeat; }
#article-quote-tr { width: 6px; height: 6px; display: block; position: absolute; top: -1px; right: -1px; background: transparent url(../images/article-quote-tr.png) 0 0 no-repeat; }
#article-quote-bl { width: 6px; height: 6px; display: block; position: absolute; bottom: -1px; left: -1px; background: transparent url(../images/article-quote-bl.png) 0 0 no-repeat; }
#article-quote-br { width: 6px; height: 6px; display: block; position: absolute; bottom: -1px; right: -1px; background: transparent url(../images/article-quote-br.png) 0 0 no-repeat; }
#article-quote #quote-title { font-size: 12px; font-style: normal; font-weight: bold; }

#article-sidebar .title { margin-bottom: 0; padding: 10px 0 20px 0; text-transform: uppercase; font-size: 18px; color: #cbcbcb; }
#article-sidebar p { margin-bottom: 10px; line-height: 18px; font-style: italic; font-size: 12px; color: #5a5a5a; }
#article-sidebar .row-title { font-style: normal; font-weight: bold; color: #d9531e; }
#partnership-prev { width: 264px; height: 45px; margin-top: 30px; display: block; float: left; background: transparent url(../images/partnership-prev-button.png) 0 0 no-repeat; text-indent: -9999px; }
#partnership-next { width: 264px; height: 45px; margin-top: 30px; display: block; float: right; background: transparent url(../images/partnership-next-button.png) 0 0 no-repeat; text-indent: -9999px; }
#partnership-prev:hover,
#partnership-next:hover { background-position: 0 -55px; }

#related-content { width: 220px; margin-right: 20px; float: left; }
#related-content li { margin: 0 0 15px 24px; position: relative; display: block; }
#related-content li .file-type { width: 18px; height: 19px; position: absolute; top: 3px; left: -24px; display: block; text-indent: -9999px; }
#related-content li.pdf-file .file-type { background: transparent url(../images/icon-pdf.png) 0 0 no-repeat; }
#related-content li.video-file  .file-type { background: transparent url(../images/icon-video.png) 0 0 no-repeat; }
#related-content a { line-height: 18px; color: #d9531e; }
#related-content .file-meta { display: block; font-size: 10px; color: #9d9d9d; }
#related-content .view-all { margin-left: 24px; font-size: 10px;text-transform: uppercase; }
#related-content .title,
#similar-partnerships .title { margin-bottom: 11px; line-height: 20px; font-size: 16px; font-weight: bold; color: #010101; }
#similar-partnerships { width: 740px; float: left; }
#similar-partnerships ul { width: 232px; margin-right: 22px; float: left; }
#similar-partnerships ul.last { margin-right: 0; }
#similar-partnerships ul .box-title { line-height: 22px; font-size: 15px; font-weight: bold; color: #d9531e; }
#similar-partnerships ul span { margin-bottom: 3px; display: block; line-height: 17px; font-size: 12px; color: #010101; }
#similar-partnerships ul a { line-height: 18px; text-decoration: underline; color: #4a4a4a; }
#similar-partnerships ul a:hover { color: #000; }



#columns .column { width: 308px !important; margin-right: 28px; }
.column.last { margin-right: 0 !important; }
#index-content h2 { margin-bottom: 9px; padding-bottom: 4px; border-bottom: solid 3px #d9531e; line-height: 20px; font-family: Arial; font-size: 18px; font-weight: bold; color: #d9531e; } 
#index-content h3 { margin-top: 5px; font-family: Arial; font-size: 15px; font-weight: bold; color: #343434; } 
#index-content ul { margin-bottom: 10px; } 
#index-content li { padding: 2px 0 2px 21px; background: transparent url(../images/list-arrow.png) 7px 5px no-repeat; line-height: 18px; } 






.pagination { padding: 2px 0; clear: both; overflow: hidden; border-top: solid 1px #cbcbcb; border-bottom: solid 1px #cbcbcb; font-family: Arial; font-size: 10px; color: #4c4c4c; }
.pagination .title { padding-right: 8px; display: block; float: left; }
.pagination a { margin: 0 4px 0 3px; display: block; float: left; color: #4c4c4c; }
.pagination a.current { color: #d9531e; }
.pagination a:hover { color: #000; }






#footer { margin-top: 25px; margin-bottom: 10px; font-size: 10px; text-transform: uppercase; color: #656565 }
.results #footer { margin-top: 0; }
.partnerships #footer,
.static #footer { padding-top: 40px; border-top: solid 1px #cbcbcb; }
#footer a { color: #656565 }


#page-content a { font-weight: bold; text-decoration: underline; color: #4a4a4a; }
#page-content a:hover { color: #000; }
#page-content img,
img.alignleft,
img.alignright,
img.aligncenter { max-width: 980px; height: auto; }
img.alignleft { display: inline; float: left; margin-right: 15px; margin-top: 4px; }
img.alignright { display: inline; float: right; margin-left: 15px; margin-top: 4px; }
img.aligncenter { clear: both; display: block; margin-left: auto; margin-right: auto; }
img.alignleft, img.alignright, img.aligncenter { margin-bottom: 4px; }

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }


a:active,
a:focus { outline:  none; ie-dummy: expression(this.hideFocus=true); }
.nohighlight:focus { outline: none; }
*:focus { outline: none; }
a { text-decoration: none; color: #333; }
a:hover { text-decoration: underline; }
.clear { clear: both; }

#map_canvas { height: 100%; width:100%; overflow:auto; position: absolute;}